* {
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: Tahoma, Arial;
}

nav.menu {
    width: 100%;
    background-color: #515A5A;
    height: 44px;
    padding: 0 40px;
}

nav.menu ul,
nav.menu ul li {
    margin: 0;
    padding: 0 ;
    list-style: none;
    display: inline-block;
}

nav.menu ul li a {
    display: block;
    padding: 0 20px;
    line-height: 44px;
    font-size: 1.3em;
    text-decoration: none;
    color: #fff;
    margin: 0;
}

nav.menu ul li a:hover  {
    background-color: white;
    color: #54B4C7;
}

.logo {
    height: 180px;
    background-color: #54B4C7;
    background-size: 100px;
    padding-top: 40px;
}

.logo h1,
.logo h2 {
    text-align: center;
    margin: 0;
}

.logo h1 {
    color: #fff;
    font-size: 4.2em;
    margin-bottom: 20px;
}

.logo h2 {
    color: #fff;
}

.container {
    padding: 40px;
    width: 100%;
}

.page-area {
    max-width: 768px;
    display: inline-block;
}

footer {
    height: 50px;
    background-color: #54B4C7;
    padding: 40px;
    color: #fff;
}

.center {
    text-align: center;
}

.container .text-box {
    display: inline-block;
    width: 100%;
    max-width: 340px;
    min-height: 100px;
    text-align: justify;
    margin: 20px;
    vertical-align: top;
}

.text-box h1 {
    color: #515A5A;
}

.skip {
    display: block;
    line-height: 44px;
    padding: 0 20px;
    margin-top: -44px;
    transform: translateY(-100%);
}

.skip:focus {
    margin-top: 0;
    transform: translateY(0%);
}

@media screen and (min-width: 768px) {
    .container .text-box {
        margin: 10px;
    }
}